version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: hive_postgres
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hivepassword
      POSTGRES_DB: hivedb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: hive_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
